.note > * {
      position: relative;
}
.note {
      width: 10vw;
      height:10vw;
      background:#FFFF99;
      position: absolute;
    	box-shadow:4px 4px 8px #1c1c1c;
      overflow: auto;
}
.note .handle {
      position: absolute;
      left: 0vw;
      top: 0vw;
      width: 100%;
      height: 100%;
}

.note textarea {
  background: transparent;
  resize: none;
  width: 100%;
  height: 75%;
  font-size: 1em;
}

.note::-webkit-scrollbar{width:0;}
.note textarea::-webkit-scrollbar{width: 0;}

#context-menu {
  background: white;
  border: 1px solid black;
  position: absolute;
  display: none;
  z-index: 1000;
  box-shadow: 3px 3px 3px #888888;
}

#context-menu-private {
  background: white;
  border: 1px solid black;
  position: absolute;
  display: none;
  z-index: 1000;
  box-shadow: 3px 3px 3px #888888;
}

#dark-screen {
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=60);
  display: none;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}
